{% extends '@KnpMenu/menu.html.twig' %}

{% block spanElement %}
  {% do item.setUri('#') %}
  {{ block('linkElement') }}
{% endblock %}

{% block label %}
  {% set img = item.getExtra('img') %}
  {% set icon = item.getExtra('icon') %}
  {% set show_label = item.getExtra('show_label', true) %}

  {% if img %}
    <img src="{{ img }}" width="24" height="24" class="rounded-circle{{ show_label ? ' me-2' : null }}">
  {% endif %}

  {% if icon %}
    <i class="bi bi-{{ icon }}{{ show_label ? ' me-2' : null }}"></i>
  {% endif %}

  {% if show_label %}
    <span class="text-truncate">{{ parent() }}</span>
  {% endif %}
{% endblock %}
