<!DOCTYPE html>
<html data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Siganushka Admin{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body class="d-flex flex-column vh-100">
    {% block body %}
      <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow">
        <div class="container-fluid">
          {% block logo %}
          <a href="/" class="navbar-brand d-none d-md-block">
            <i class="bi bi-bootstrap-fill"></i> Dashboard
          </a>
          {% endblock %}

          <button class="navbar-toggler d-md-none px-2" type="button" data-bs-toggle="offcanvas" data-bs-target="aside .offcanvas-md" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle Sidebar">
            <span class="navbar-toggler-icon"></span>
          </button>

          {% block navbar %}
            {% if is_granted('IS_AUTHENTICATED_FULLY ') %}
              <span class="navbar-text ms-auto">
                {{ app.user.userIdentifier }}
              </span>
            {% endif %}
          {% endblock %}
        </div>
      </nav>

      <div class="d-flex flex-grow-1 overflow-hidden">
        <aside class="bg-dark-subtle position-relative shadow{{ app.request.cookies.has(collapsed_cookie) ? ' collapsed' : null }}" {{ stimulus_controller('siganushka-admin', {collapsed_cookie}) }}>
          <div class="offcanvas-md offcanvas-start h-100 overflow-hidden overflow-y-auto" tabindex="-1" aria-labelledby="sidebarMenuLabel">
            <div class="offcanvas-body d-md-flex flex-column p-2">
              {% block sidebar %}
                {{ knp_menu_render('sidebar') }}
              {% endblock %}
            </div>
          </div>

          <button class="btn border-0 position-absolute bottom-0 end-0 text-dark-emphasis m-2" {{ stimulus_action('siganushka-admin', 'collapsed') }}>
            <i class="bi bi-text-indent-right"></i>
          </button>
        </aside>

        <main class="flex-grow-1 overflow-auto p-3">
          {% block main %}{% endblock %}
        </main>
      </div>
    {% endblock %}
  </body>
</html>
