{% extends '@KnpMenu/menu.html.twig' %}

{% import _self as knp_menu %}

{% block list %}
  {# {% set listAttributes = listAttributes|merge({class: ('list-unstyled ' ~ listAttributes.class|default(''))|trim}) %} #}

  {% if item.parent and item.hasChildren %}
    <div id="collapse-{{ item.name }}" class="{{ matcher.isAncestor(item) ? 'collapse show' : 'collapse' }}" data-bs-parent="#collapse-{{ item.parent.name }}">
      {{ parent() }}
    </div>
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block linkElement %}
  {% if item.hasChildren %}
    {{ block('spanElement') }}
  {% else %}
    <a href="{{ item.uri }}" class="d-flex align-items-center text-decoration-none gap-2 rounded"{{ knp_menu.attributes(item.linkAttributes) }}>{{ block('label') }}</a>
  {% endif %}
{% endblock %}

{% block spanElement %}
  <a href="#collapse-{{ item.name }}" role="button" data-bs-toggle="collapse" aria-expanded="{{ matcher.isAncestor(item) ? 'true' : 'false' }}" class="d-flex align-items-center text-decoration-none gap-2 rounded"{{ knp_menu.attributes(item.labelAttributes) }}>{{ block('label') }}</a>
{% endblock %}

{% block label %}
  {% set icon = item.getExtra('icon') %}

  {% if icon %}
    <i class="bi bi-{{ icon }}"></i>
  {% endif %}

  <span class="text-truncate">{{ parent() }}</span>
{% endblock %}
