{% block system %}
<div class="card">
  <h5 class="card-header">{{ 'siganushka_admin.dashboard.system'|trans }}</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ 'siganushka_admin.dashboard.system.platform'|trans }}
      <span>{{ platform }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ 'siganushka_admin.dashboard.system.server'|trans }}
      <span>{{ server }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ 'siganushka_admin.dashboard.system.database'|trans }}
      <span>{{ database }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ 'siganushka_admin.dashboard.system.php'|trans }}
      <span>{{ php }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ 'siganushka_admin.dashboard.system.symfony'|trans }}
      <div>
        {% if symfonyState == 'eom' -%}
          <span class="badge rounded-pill text-bg-warning">{{ 'siganushka_admin.dashboard.system.symfony.eom'|trans }}</span>
        {% elseif symfonyState == 'eol' -%}
          <span class="badge rounded-pill text-bg-danger">{{ 'siganushka_admin.dashboard.system.symfony.eol'|trans }}</span>
        {% endif -%}

        <a href="{{ symfonyUrl }}" class="text-decoration-none" target="_blank">{{ symfony }}</a>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ 'siganushka_admin.dashboard.system.environment'|trans }}
      <div>
        {% if debug -%}
          <span class="badge rounded-pill text-bg-danger">{{ 'siganushka_admin.dashboard.system.debug'|trans }}</span>
        {% endif -%}

        {%- if environment == 'prod' -%}
          <span class="badge rounded-pill text-bg-success">{{ 'siganushka_admin.dashboard.system.environment.prod'|trans }}</span>
        {%- elseif environment == 'test' -%}
          <span class="badge rounded-pill text-bg-warning">{{ 'siganushka_admin.dashboard.system.environment.test'|trans }}</span>
        {%- else -%}
          <span class="badge rounded-pill text-bg-danger">{{ 'siganushka_admin.dashboard.system.environment.dev'|trans }}</span>
        {%- endif ~%}
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ 'siganushka_admin.dashboard.system.support'|trans }}
      <a href="mailto: siganushka@gmail.com" class="text-decoration-none">siganushka@gmail.com</a>
    </li>
  </ul>
</div>
{% endblock %}
